.balteus-magico .item-icon:before  {content: '\eb67';}
.bolsita-encantada .item-icon:before  {content: '\eb67';}
.sarcina-sin-fondo .item-icon:before  {content: '\eb67';}
.botiquin .item-icon:before  {content: '\eb67';}
.caramelo-de-la-suerte .item-icon:before  {content: '\eb67';}
.cuerno-de-unicornio .item-icon:before  {content: '\eb67';}
.tinte-magico .item-icon:before  {content: '\eb67';}
.spray-de-glamour .item-icon:before  {content: '\eb67';}
.cubo-de-ambrosia .item-icon:before  {content: '\eb67';}
.cantimplora-con-nectar .item-icon:before  {content: '\eb67';}
.capsula-multivitaminica .item-icon:before  {content: '\eb67';}
.capsula-de-esencia .item-icon:before  {content: '\eb67';}
.extracto-de-esencia .item-icon:before  {content: '\eb67';}
.bomba-de-humo .item-icon:before  {content: '\eb67';}
.buccina .item-icon:before  {content: '\eb67';}
.c4-oro-imperial .item-icon:before  {content: '\eb67';}
.camiseta-del-campamento-jupiter .item-icon:before  {content: '\eb67';}
.flor-de-iris .item-icon:before  {content: '\eb67';}
.lazo .item-icon:before  {content: '\eb67';}
.afilador .item-icon:before  {content: '\eb67';}
.talisman-equitativo .item-icon:before  {content: '\eb67';}
.talisman-de-la-suerte .item-icon:before  {content: '\eb67';}
.tribulus .item-icon:before  {content: '\eb67';}
.veneno .item-icon:before  {content: '\eb67';}
.vendaje .item-icon:before  {content: '\eb67';}
.vitaminas-de-trivia .item-icon:before  {content: '\eb67';}
.pugio-ligero .item-icon:before  {content: '\eb67';}
.pugios-duales .item-icon:before  {content: '\eb67';}
.gladius .item-icon:before  {content: '\eb67';}
.falcata .item-icon:before  {content: '\eb67';}
.spatha .item-icon:before  {content: '\eb67';}
.pilum-ligero .item-icon:before  {content: '\eb67';}
.pilum-pesado .item-icon:before  {content: '\eb67';}
.contus .item-icon:before  {content: '\eb67';}
.arco-corto .item-icon:before  {content: '\eb67';}
.arco-largo .item-icon:before  {content: '\eb67';}
.relieve .item-icon:before  {content: '\eb67';}
.parma .item-icon:before  {content: '\eb67';}
.scutum .item-icon:before  {content: '\eb67';}
.tunica-bendecida .item-icon:before  {content: '\eb67';}
.manica-consagrada .item-icon:before  {content: '\eb67';}
.botas-de-mercurio .item-icon:before  {content: '\eb67';}
.casco-lujoso .item-icon:before  {content: '\eb67';}
.brazales-de-hercules .item-icon:before  {content: '\eb67';}
.cestus .item-icon:before  {content: '\eb67';}
.subarmalis .item-icon:before  {content: '\eb67';}
.cingulum .item-icon:before  {content: '\eb67';}
.casco-ligero .item-icon:before  {content: '\eb67';}
.lorica-hamata .item-icon:before  {content: '\eb67';}
.lorica-squamata .item-icon:before  {content: '\eb67';}
.lorica-segmentata .item-icon:before  {content: '\eb67';}
.cinto-magico .item-icon:before  {content: '\eb67';}
.bolsa-encantada .item-icon:before  {content: '\eb67';}
.morral-sin-fondo .item-icon:before  {content: '\eb67';}
.petaca-con-nectar .item-icon:before  {content: '\eb67';}
.bomba-de-luz .item-icon:before  {content: '\eb67';}
.bomba-cerdo .item-icon:before  {content: '\eb67';}
.cadena .item-icon:before  {content: '\eb67';}
.collar-de-cuentas .item-icon:before  {content: '\eb67';}
.camiseta-del-campamento-mestizo .item-icon:before  {content: '\eb67';}
.crema-antimagia .item-icon:before  {content: '\eb67';}
.bloqueador-de-coco .item-icon:before  {content: '\eb67';}
.fuego-griego .item-icon:before  {content: '\eb67';}
.termo-de-los-vientos .item-icon:before  {content: '\eb67';}
.vitaminas-de-hecate .item-icon:before  {content: '\eb67';}
.parazonium-ligero .item-icon:before  {content: '\eb67';}
.parazonium-pesado .item-icon:before  {content: '\eb67';}
.parazonium-duales .item-icon:before  {content: '\eb67';}
.xiphos .item-icon:before  {content: '\eb67';}
.sable-corvo .item-icon:before  {content: '\eb67';}
.doru-ligero .item-icon:before  {content: '\eb67';}
.sarisa .item-icon:before  {content: '\eb67';}
.arco-corto .item-icon:before  {content: '\eb67';}
.arco-de-pino .item-icon:before  {content: '\eb67';}
.arco-largo .item-icon:before  {content: '\eb67';}
.hacha-arrojadiza .item-icon:before  {content: '\eb67';}
.labrys .item-icon:before  {content: '\eb67';}
.martillo-de-guerra .item-icon:before  {content: '\eb67';}
.gran-clava .item-icon:before  {content: '\eb67';}
.honda .item-icon:before  {content: '\eb67';}
.relieve .item-icon:before  {content: '\eb67';}
.aspis .item-icon:before  {content: '\eb67';}
.brazales-bendecidos .item-icon:before  {content: '\eb67';}
.brazales-de-heracles .item-icon:before  {content: '\eb67';}
.grebas-consagradas .item-icon:before  {content: '\eb67';}
.botas-de-hermes .item-icon:before  {content: '\eb67';}
.quiton-acolchado .item-icon:before  {content: '\eb67';}
.casco-frigio .item-icon:before  {content: '\eb67';}
.linotorax .item-icon:before  {content: '\eb67';}
.thorax .item-icon:before  {content: '\eb67';}
.quitonsios .item-icon:before  {content: '\eb67';}
.cinturon-magico .item-icon:before  {content: '\eb67';}
.saquito-encantado .item-icon:before  {content: '\eb67';}
.alforjas-sin-fondo .item-icon:before  {content: '\eb67';}
.cerveza-feerica .item-icon:before  {content: '\eb67';}
.amuleto-de-lugh .item-icon:before  {content: '\eb67';}
.amuleto-runico .item-icon:before  {content: '\eb67';}
.carnyx .item-icon:before  {content: '\eb67';}
.ceniza-estival .item-icon:before  {content: '\eb67';}
.chaqueta-de-la-caceria-salvaje .item-icon:before  {content: '\eb67';}
.dije-de-triqueta .item-icon:before  {content: '\eb67';}
.fiada-encapsulada .item-icon:before  {content: '\eb67';}
.hierba-hambrienta .item-icon:before  {content: '\eb67';}
.pocion-mistica .item-icon:before  {content: '\eb67';}
.pulsera-de-nudo .item-icon:before  {content: '\eb67';}
.polvo-de-hadas .item-icon:before  {content: '\eb67';}
.sangre-de-beithir .item-icon:before  {content: '\eb67';}
.shamrock .item-icon:before  {content: '\eb67';}
.simbolo-de-lauburu .item-icon:before  {content: '\eb67';}
.woad-encantado .item-icon:before  {content: '\eb67';}
.corteza-masticable .item-icon:before  {content: '\eb67';}
.mattucashlass .item-icon:before  {content: '\eb67';}
.dirk .item-icon:before  {content: '\eb67';}
.espada-de-antenas .item-icon:before  {content: '\eb67';}
.claymore .item-icon:before  {content: '\eb67';}
.dedannan .item-icon:before  {content: '\eb67';}
.madaris .item-icon:before  {content: '\eb67';}
.arco-de-caza .item-icon:before  {content: '\eb67';}
.ballesta .item-icon:before  {content: '\eb67';}
.hacha-arrojadiza .item-icon:before  {content: '\eb67';}
.hacha-de-guerra .item-icon:before  {content: '\eb67';}
.tuag .item-icon:before  {content: '\eb67';}
.martillo-de-guerra .item-icon:before  {content: '\eb67';}
.maza-de-armas .item-icon:before  {content: '\eb67';}
.matam .item-icon:before  {content: '\eb67';}
.broquel .item-icon:before  {content: '\eb67';}
.escudo-de-puas .item-icon:before  {content: '\eb67';}
.escudo-hexagonal .item-icon:before  {content: '\eb67';}
.torque .item-icon:before  {content: '\eb67';}
.brazales-de-cuchulainn .item-icon:before  {content: '\eb67';}
