/*TIENDA OFICIAL*/
.balteus-magico .item-icon:before {content: '\eb2f';font-family: 'game-icons';}
.bolsita-encantada .item-icon:before {content: '\eb2c';font-family: 'game-icons';}
.sarcina-sin-fondo .item-icon:before {content: '\ec5B';font-family: 'game-icons';}
.botiquin .item-icon:before {content: '\ec1d';font-family: 'IcoFont';}
.caramelo-de-la-suerte .item-icon:before {content: '\eba2';font-family: 'IcoFont';}
.cuerno-de-unicornio .item-icon:before {content: '\ecee';font-family: 'cappuccicons';}
.tinte-magico .item-icon:before {content: '\ecaf';font-family: 'cappuccicons';}
.spray-de-glamour .item-icon:before {content: '\f5bd';font-family: var(--font-awesome);font-weight: 900;}
.cubo-de-ambrosia .item-icon:before {content: '\eb5f';font-family: 'IcoFont';}
.cantimplora-con-nectar .item-icon:before {content: '\eddb';font-family: 'IcoFont';}
.capsula-multivitaminica .item-icon:before {content: '\ec12';font-family: 'IcoFont';}
.capsula-de-esencia .item-icon:before {content: '\ED17';font-family: 'game-icons';}
.extracto-de-esencia .item-icon:before {content: '\EA6F';font-family: 'game-icons';}
.bomba-de-humo .item-icon:before {content: '\ed7e';font-family: 'game-icons';}
.buccina .item-icon:before {content: '\e02d';font-family: 'game-icons';}
.c4-oro-imperial .item-icon:before {content: '\ed74';font-family: 'game-icons';}
.camiseta-del-campamento-jupiter .item-icon:before {content: '\f553';font-family: var(--font-awesome);font-weight: 900;}
.flor-de-iris .item-icon:before {content: '\eab7';font-family: cappuccicons;}
.lazo .item-icon:before {content: '\e59c';font-family: 'game-icons';}
.afilador .item-icon:before {content: '\ED4C'; font-family:'game-icons';}
.talisman-equitativo .item-icon:before {content: '\e94d';font-family: 'game-icons';}
.talisman-de-la-suerte .item-icon:before {content: '\e94c';font-family: 'game-icons';}
.tribulus .item-icon:before {content: '\e4ee';font-family: 'game-icons';}
.veneno .item-icon:before {content: '\ea6d'; font-family: 'game-icons';}
.vendaje .item-icon:before {content: '\ea4a';font-family: 'game-icons';}
.vitaminas-de-trivia .item-icon:before {content: '\ec1b';font-family: 'IcoFont';}
.pugio-ligero .item-icon:before {content: '\EEF3';font-family: 'game-icons';}
.pugios-duales .item-icon:before {content: '\E2FE';font-family: 'game-icons';}
.gladius .item-icon:before {content: '\EEFF';font-family: 'game-icons';}
.falcata .item-icon:before {content: '\EEE4';font-family: 'game-icons';}
.spatha .item-icon:before {content: '\EEE8';font-family: 'game-icons';}
.pilum-ligero .item-icon:before {content: '\E27D';font-family: 'game-icons';}
.pilum-pesado .item-icon:before {content: '\E24C';font-family: 'game-icons';}
.contus .item-icon:before {content: '\E279';font-family: 'game-icons';}
.arco-corto .item-icon:before {content: '\E220';font-family: 'game-icons';}
.arco-largo .item-icon:before {content: '\E261';font-family: 'game-icons';}
.relieve .item-icon:before {content: '\efe6';font-family: 'IcoFont';}
.parma .item-icon:before {content: '\e052';font-family: 'game-icons';}
.scutum .item-icon:before {content: '\E047';font-family: 'game-icons';}
.tunica-bendecida .item-icon:before {content: '\eb49';font-family: 'game-icons';}
.manica-consagrada .item-icon:before {content: '\edd1';font-family: 'game-icons';}
.botas-de-mercurio .item-icon:before {content: '\e628';font-family: 'game-icons';}
.casco-lujoso .item-icon:before {content: '\e19b';font-family: 'game-icons';}
.brazales-de-hercules .item-icon:before {content: '\edce';font-family: 'game-icons';}
.cestus .item-icon:before {content: '\eb3';font-family: 'game-icons';}
.subarmalis .item-icon:before {content: '\eb46';font-family: 'game-icons';}
.cingulum .item-icon:before {content: '\eede';font-family: 'game-icons';}
.casco-ligero .item-icon:before {content: '\E1D1';font-family: 'game-icons';}
.lorica-hamata .item-icon:before {content: '\eb5a';font-family: 'game-icons';}
.lorica-squamata .item-icon:before {content: '\eddf';font-family: 'game-icons';}
.lorica-segmentata .item-icon:before {content: '\e96e';font-family: 'game-icons';}
.cinto-magico .item-icon:before {content: '\eb2f';font-family: 'game-icons';}
.bolsa-encantada .item-icon:before {content: '\eb2c';font-family: 'game-icons';}
.morral-sin-fondo .item-icon:before {content: '\eaec';font-family: 'IcoFont';}
.petaca-con-nectar .item-icon:before {content: '\eddb';font-family: 'IcoFont';}
.bomba-de-luz .item-icon:before {content: '\ed73';font-family: 'game-icons';}
.bomba-cerdo .item-icon:before {content: '\e87c';font-family: 'IcoFont';}
.cadena .item-icon:before {content: '\e59c';font-family: 'game-icons';}
.collar-de-cuentas .item-icon:before {content: '\e93e';font-family: 'game-icons';}
.camiseta-del-campamento-mestizo .item-icon:before {content: '\f553';font-family: var(--font-awesome);font-weight: 900;}
.crema-antimagia .item-icon:before {content: '\ea63'; font-family: 'game-icons';}
.bloqueador-de-coco .item-icon:before {content: '\E6BB'; font-family: 'game-icons';}
.fuego-griego .item-icon:before {content: '\e363';font-family: 'game-icons';font-size: 27px;}
.termo-de-los-vientos .item-icon:before {content: '\e030';font-family: 'game-icons';}
.vitaminas-de-hecate .item-icon:before {content: '\ec1b';font-family: 'IcoFont';}
.parazonium-ligero .item-icon:before {content: '\E315';font-family: 'game-icons';}
.parazonium-pesado .item-icon:before {content: '\EED3';font-family: 'game-icons';}
.parazonium-duales .item-icon:before {content: '\E320';font-family: 'game-icons';}
.xiphos .item-icon:before {content: '\E270';font-family: 'game-icons';}
.sable-corvo .item-icon:before {content: '\EEF4';font-family: 'game-icons';}
.doru-ligero .item-icon:before {content: '\EEE1';font-family: 'game-icons';}
.sarisa .item-icon:before {content: '\E249';font-family: 'game-icons';}
.arco-corto .item-icon:before {content: '\E220';font-family: 'game-icons';}
.arco-de-pino .item-icon:before {content: '\E271';font-family: 'game-icons';}
.arco-largo .item-icon:before {content: '\E30A';font-family: 'game-icons';}
.hacha-arrojadiza .item-icon:before {content: '\E7C8';font-family: 'game-icons';}
.labrys .item-icon:before {content: '\E2F2';font-family: 'game-icons';}
.martillo-de-guerra .item-icon:before {content: '\E2E7';font-family: 'game-icons';}
.gran-clava .item-icon:before {content: '\E011';font-family: 'game-icons';}
.honda .item-icon:before {content: '\E2F5';font-family: 'game-icons';}
.relieve .item-icon:before {content: '\efe6';font-family: 'IcoFont';}
.aspis .item-icon:before {content: '\e052';font-family: 'game-icons';}
.brazales-bendecidos .item-icon:before {content: '\edd1';font-family: 'game-icons';}
.brazales-de-heracles .item-icon:before {content: '\edce';font-family: 'game-icons';}
.grebas-consagradas .item-icon:before {content: '\eb49';font-family: 'game-icons';}
.botas-de-hermes .item-icon:before {content: '\e628';font-family: 'game-icons';}
.quiton-acolchado .item-icon:before {content: '\eb34';font-family: 'game-icons';}
.casco-frigio .item-icon:before {content: '\e1c4';font-family: 'game-icons';}
.linotorax .item-icon:before {content: '\edda';font-family: 'game-icons';}
.thorax .item-icon:before {content: '\edd2';font-family: 'game-icons';}
.quitonsios .item-icon:before {content: '\eb46';font-family: 'game-icons';}
.cinturon-magico .item-icon:before {content: '\eb2f';font-family: 'game-icons';}
.saquito-encantado .item-icon:before {content: '\eb2c';font-family: 'game-icons';}
.alforjas-sin-fondo .item-icon:before {content: '\eb59';font-family: 'game-icons';}
.cerveza-feerica .item-icon:before {content: '\eb44';font-family: 'IcoFont';}
.amuleto-de-lugh .item-icon:before {content: '\E936';font-family: 'game-icons';}
.amuleto-runico .item-icon:before {content: '\e935';font-family: 'game-icons';}
.carnyx .item-icon:before {content: '\e1f4';font-family: 'game-icons';}
.ceniza-estival .item-icon:before {content: '\ec61';font-family: 'game-icons';}
.chaqueta-de-la-caceria-salvaje .item-icon:before {content: '\ef54';}
.dije-de-triqueta .item-icon:before {content: '\e821';font-family: 'IcoFont';}
.fiada-encapsulada .item-icon:before {content: '\e97f';font-family: cappuccicons;}
.hierba-hambrienta .item-icon:before {content: '\e780';font-family: 'game-icons';}
.pocion-mistica .item-icon:before {content: '\e503';font-family: 'game-icons';}
.pulsera-de-nudo .item-icon:before {content: '\E593';font-family: 'game-icons';}
.polvo-de-hadas .item-icon:before {content: '\EAB3';font-family: 'game-icons';}
.sangre-de-beithir .item-icon:before {content: '\EA69';font-family: 'game-icons';}
.shamrock .item-icon:before {content: 'ea07';font-family: 'cappuccicons';}
.simbolo-de-lauburu .item-icon:before {content: '\ea24';font-family: 'RPGAwesome';}
.woad-encantado .item-icon:before {content: '\EA30';font-family: 'game-icons';}
.corteza-masticable .item-icon:before {content: '\E79C';font-family: 'game-icons';}
.mattucashlass .item-icon:before {content: '\EEE6';font-family:'game-icons';}
.dirk .item-icon:before {content: '\EEEC';font-family:'game-icons';}
.espada-de-antenas .item-icon:before {content: '\EEFA';font-family:'game-icons';}
.claymore .item-icon:before {content: '\EEF5';font-family:'game-icons';}
.dedannan .item-icon:before {content: '\EEEF';font-family:'game-icons';}
.madaris .item-icon:before {content: '\E23A';font-family:'game-icons';}
.arco-de-caza .item-icon:before {content: '\E21A';font-family:'game-icons';}
.ballesta .item-icon:before {content: '\E20A'; font-family:'game-icons';}
.hacha-arrojadiza .item-icon:before {content: '\E2E0';font-family:'game-icons';}
.hacha-de-guerra .item-icon:before {content: '\E2E5';font-family:'game-icons';}
.tuag .item-icon:before {content: '\e91c';font-family: 'RPGAwesome';}
.martillo-de-guerra .item-icon:before {content: '\E2DF';font-family:'game-icons';}
.maza-de-armas .item-icon:before {content: '\EBD4';font-family:'game-icons';}
.matam .item-icon:before {content: '\E2DF';font-family:'game-icons';}
.broquel .item-icon:before {content: '\e03b';font-family: 'game-icons';}
.escudo-de-puas .item-icon:before {content: '\e04b';font-family: 'game-icons';}
.escudo-hexagonal .item-icon:before {content: '\e042';font-family: 'game-icons';}
.torque .item-icon:before {content: '\E95E';font-family: 'game-icons';}
.brazales-de-cuchulainn .item-icon:before {content: '\edce';font-family: 'game-icons';}
.braccae-bendecidos .item-icon:before {content: '\eb2e';font-family: 'game-icons';}
.coraza-parcheada .item-icon:before {content: '\EDD4';font-family: 'game-icons';}
.cota-de-malla .item-icon:before {content: '\eddf';font-family: 'game-icons';}
.casco-de-hierro .item-icon:before {content: '\e1b0';font-family: 'game-icons'}

/*OBJETOS ESPECIALES*/
[class$="-descuento"] .item-icon:before {content: '\f3ff';font-family: var(--font-awesome);font-weight: 900;}
[class$="-monedas"] .item-icon:before {content: '\ef9d';font-family: 'IcoFont';}

[class*="chaqueta"] .item-icon:before {content: '\ef54';font-family: 'IcoFont';}
[class*="camiseta"] .item-icon:before {content: '\f553';font-family: var(--font-awesome);font-weight: 900;}
[class*="brazal"] .item-icon:before {content: '\edd1';font-family: 'game-icons'}
[class*="casco"] .item-icon:before {content: '\E1B0';font-family: 'game-icons';}
[class*="arco"] .item-icon:before {content: '\e981';font-family: 'IcoFont';}
[class*="dagas"] .item-icon:before, [class*="daga"] .item-icon:before {content: '\ea65';font-family: 'RpgAwesome';}
[class*="escudo"] .item-icon:before {content: '\efe6';font-family: 'IcoFont';}
[class*="espada"] .item-icon:before {content: '\e946';font-family: 'RpgAwesome';}
[class*="hacha"] .item-icon:before {content: '\e91c';font-family: 'RpgAwesome';}
[class*="lanza"] .item-icon:before {content: '\eaac';font-family: 'RpgAwesome';}
[class*="maza"] .item-icon:before {content: '\e9ee';font-family: 'RpgAwesome';}
.inventario-seccion [class*="armadura"] .item-icon:before {content: '\EDD9';font-family: 'game-icons';}
[class*="talisman"] .item-icon:before {content: '\E94E';font-family: 'game-icons';}
[class*="spray"] .item-icon:before {content: '\f5bd';font-family: var(--font-awesome);font-weight: 900;}
[class*="pocion"] .item-icon:before, [class*="suero"] .item-icon:before, [class*="pocima"] .item-icon:before {content: '\EA6E';font-family: 'game-icons';}
[class*="perfume"] .item-icon:before {content: '\EA6C';font-family: 'game-icons';}
[class*="galleta"] .item-icon:before {content: '\ea30';font-family: cappuccicons;}
[class*="estrella"] .item-icon:before {content: '\E112';font-family: 'game-icons';}

.chocolate-especiado .item-icon:before {content: '\e9f0';font-family: cappuccicons;}
.baston-de-caramelo .item-icon:before {content: '\e9b5';font-family: cappuccicons;}
.snicker .item-icon:before, .snickers .item-icon:before {content: '\e9f0';font-family: cappuccicons;}
.copo-de-nieve .item-icon:before, .snickers .item-icon:before {content: '\ee6c';}
[class*="adorno"] .item-icon:before, .bola-de-navidad .item-icon:before {content: '\e9f2';font-family: cappuccicons;}
.topacio .item-icon:before {content: '\E92E';font-family: 'game-icons';}
.esmeralda .item-icon:before {content: '\E94A';font-family: 'game-icons';}
.zafiro .item-icon:before {content: '\E953';font-family: 'game-icons';}
.cuarzo .item-icon:before {content: '\E947';font-family: 'game-icons';}
.diamante .item-icon:before {content: '\E949';font-family: 'game-icons';}
.amatista .item-icon:before {content: '\E92C';font-family: 'game-icons';}
.citrino .item-icon:before {content: '\ED9D';font-family: 'game-icons';}
.aguamarina .item-icon:before {content: '\ead5';font-family: cappuccicons;}

/*OBJETOS NARRATIVOS / PERSONALES*/
.cuerda .item-icon:before {content: '\e59c';font-family: 'game-icons';}
[class*="bola-de-cristal"] .item-icon:before {content: '\ea3f';font-family: cappuccicons;}

/*IOFERTAS*/
.collar-de-oro .item-icon:before {content: '\E932';font-family: 'game-icons';}
.sueter-feerico .item-icon:before {content: '\EB31';font-family: 'game-icons';}
.gato-siberiano .item-icon:before {content: '\E3E9';font-family: 'game-icons';}
.zorro-negro .item-icon:before {content: '\e5b6';font-family: 'game-icons';}
.loro-pirata .item-icon:before {content: '\e876';font-family: 'IcoFont';}
.mapache-albino .item-icon:before {content: '\E5C8';font-family: 'game-icons';}
.talisman-de-victoria .item-icon:before {content: '\ef9d';}
.talisman-de-resurreccion .item-icon:before {content: '\ef9d';}
.talisman-reparador .item-icon:before {content: '\ef9d';}
.talisman-ralentizador .item-icon:before {content: '\ef9d';}
.arco-de-pesadilla .item-icon:before {content: '\ef9d';}
.dagas-tornasoladas .item-icon:before {content: '\ef9d';}
.escudo-umbrio .item-icon:before {content: '\ef9d';}
.espada-espectral .item-icon:before {content: '\ef9d';}
.hacha-elemental .item-icon:before {content: '\EFEB';font-family: 'game-icons';}
.lanza-de-azufre .item-icon:before {content: '\ef9d';}
.maza-de-colmillo .item-icon:before {content: '\ef9d';}
.cruce-de-pesadilla-75-puro .item-icon:before {content: '\e863';font-family: 'IcoFont';}
.cruce-de-pesadilla-50-puro .item-icon:before {content: '\e863';font-family: 'IcoFont';}
.cruce-de-pesadilla-25-puro .item-icon:before {content: '\ef9d';font-family: 'IcoFont';}
.balsamo-de-roca .item-icon:before {content: '\EA34';font-family: 'game-icons';}
.aceite-de-amapola .item-icon:before {content: '\EC8F';font-family: 'game-icons';}
.suero-de-colmillo .item-icon:before {content: '\f492';font-family: var(--font-awesome);font-weight: 900;}
.pulsera-ojo-de-venado .item-icon:before {content: '\ef9d';}


/*OBJETOS DE EVENTOS*/
.cojin-de-apoyo .item-icon:before {content: '\EB15';font-family: 'game-icons';}
.sonaja-explosiva .item-icon:before {content: '\ebac';font-family: 'IcoFont';}
.chupeta .item-icon:before {content: '\eba4';font-family: 'IcoFont';}
.biberon .item-icon:before {content: '\eb9f';font-family: 'IcoFont';}
.carritos-de-bebe .item-icon:before {content: '\ebaf';font-family: 'IcoFont';}
.animalito-de-peluche .item-icon:before {content: '\eba7';font-family: 'IcoFont';}
.panal-sucio .item-icon:before {content: '\f619';font-family: var(--font-awesome);font-weight: 900;}
.zapatitos-de-bebe .item-icon:before {content: '\f696';font-family: var(--font-awesome);font-weight: 900;}
.pelota-inflable .item-icon:before {content: '\eba8';font-family: 'IcoFont';}
.papilla .item-icon:before {content: '\ef9d';}
.crema-panalito .item-icon:before {content: '\ef9d';}
.gasas-esterilizadas .item-icon:before {content: '\ec0b';font-family: 'IcoFont';}

.tennis-nike .item-icon:before {content: '\EAE9';font-family: 'game-icons';}
.disco .item-icon:before {content: '\ecac';font-family: 'IcoFont';}
.tampones .item-icon:before {content: '\f479';font-family: var(--font-awesome);font-weight: 900;}
.espantasuegras .item-icon:before {content: '\ef9d';}
.munequeras-de-cuero .item-icon:before {content: '\EDD1';font-family: 'game-icons';}
.cinta-de-embalar .item-icon:before {content: '\f4db';font-family: var(--font-awesome);font-weight: 900;}
.marcador-negro .item-icon:before {content: '\ebe7';font-family: 'IcoFont';}
.tijeras-sin-filo .item-icon:before {content: '\ec5a';font-family: cappuccicons;}
.cadena-de-saturnalia .item-icon:before {content: '\e59c';font-family: 'game-icons';}
.perfume-de-avon .item-icon:before {content: '\EA5F';font-family: 'game-icons';}
.cuchillo-oxidado .item-icon:before {content: '\eb48';font-family: cappuccicons;}
.chicle-usado .item-icon:before {content: '\ef9d';}

.golpe-de-remo-espiritual .item-icon:before, .golpe-de-remo .item-icon:before {content: '\ef9d';}
.glamour .item-icon:before {content: '\EC2A';font-family: 'game-icons';}
.capsula-magica .item-icon:before {content: '\ED17';font-family: 'game-icons';}
.amuleto-de-la-suerte .item-icon:before {content: '\E94C';font-family: 'game-icons';}
.bolsa-secreta .item-icon:before {content: '\eeac';font-family: 'IcoFont';}
.vincha-de-tique .item-icon:before {content: '\ef9d';}
.potenciador .item-icon:before {content: '\ef9d';}
.casco-de-guerra .item-icon:before {content: '\E1B0';font-family: 'game-icons';}
.nunchaku .item-icon:before {content: '\E2CF';font-family: 'game-icons';}
.abanico-de-guerra .item-icon:before {content: '\EB09';font-family: 'game-icons';}

.acebo .item-icon:before {content: '\eb0b';font-family: cappuccicons;}
.ponche-de-mandragora .item-icon:before {content: '\E6BD';font-family: 'game-icons';}
.fuego-de-chimenea .item-icon:before {content: '\E340';font-family: 'game-icons';}
.escudo-de-caramelo .item-icon:before {content: '\E05F';font-family: 'game-icons';}
.supercojin-de-apoyo .item-icon:before {content: '\EB15';font-family: 'game-icons';}
.mazapan .item-icon:before {content: '\EA8A';font-family: 'game-icons';}
.caramelo-de-navidad .item-icon:before {content: '\e9b5';font-family: cappuccicons;}
.orejas-de-elfo .item-icon:before {content: '\E5DA';font-family: 'game-icons';}
.vitaminas-de-santa .item-icon:before {content: '\ec4b';font-family: cappuccicons;}
.champan .item-icon:before {content: '\ef9d';}
.galleta-de-jengibre .item-icon:before {content: '\eadc';font-family: cappuccicons;}
.pastillero .item-icon:before {content: '\ec1a';font-family: 'IcoFont';}

.ojo-de-ciclope .item-icon:before {content: '\EF2F';font-family: 'game-icons';}
.diente-de-leucrota .item-icon:before {content: '\EC8C';font-family: 'game-icons';}
.veneno-de-arana .item-icon:before {content: '\ec91';ec91
.pocion-de-bodach .item-icon:before {content: '\E50E';font-family: 'game-icons';}
.agua-de-kelpie .item-icon:before {content: '\E5AE';font-family: 'game-icons';}
.unas-de-arpia .item-icon:before {content: '\E986';font-family: 'game-icons';}
.plumas-de-grifo .item-icon:before {content: '\E6E8';font-family: 'game-icons';}
.aleta-de-nuckelavee .item-icon:before {content: '\E5A5';font-family: 'game-icons';}
.pico-de-basilisco .item-icon:before {content: '\E3ED';font-family: 'game-icons';}
.amuleto-de-beithir .item-icon:before {content: '\E948';font-family: 'game-icons';}
.piel-de-fachan .item-icon:before {content: '\EB3E';font-family: 'game-icons';}
.escamas-de-dracaenae .item-icon:before {content: '\E6F5';font-family: 'game-icons';}

.arroz-con-pollo .item-icon:before {content: '\ec3d';font-family: cappuccicons;}
.uvas-explosivas .item-icon:before {content: '\eb6c';font-family: 'IcoFont';}
.cuernos-de-reno .item-icon:before {content: '\e842';font-family: 'IcoFont';}
.bufanda .item-icon:before {content: '\ef9d';}
.coca-sin-gas .item-icon:before {content: '\eb59';font-family: 'IcoFont';}
.pizza-fria .item-icon:before {content: '\eb84';font-family: 'IcoFont';}
.tupperware .item-icon:before {content: '\ef9d';}
.acebo .item-icon:before {content: '\eb0b';font-family: cappuccicons;}
.recalentado .item-icon:before {content: '\ea2a';font-family: cappuccicons;font-size: 22px;}

.nectar-de-apolo .item-icon:before {content: '\ED0A';font-family: 'game-icons';}
.pocion-flamante-de-brigid .item-icon:before, .pocion-de-brigid .item-icon:before {content: '\e363';font-family: 'game-icons';font-size: 27px;}
.colgante-de-atenea .item-icon:before {content: '\e872';font-family: 'IcoFont';}
.fuck-you-narry-4000 .item-icon:before {content: '\f806';font-family: var(--font-awesome);font-weight: 900;}
.unas-de-nike .item-icon:before {content: '\EB7B';font-family: 'game-icons';}
.espuma-del-sr-d .item-icon:before {content: '\ec64';font-family: cappuccicons;}
.dados-cargados-de-tique .item-icon:before, .dados-de-tique .item-icon:before {content: '\ef02';font-family: 'IcoFont';}
.neumatico-de-taranis .item-icon:before {content: '\edbe';font-family: 'IcoFont';}
.spray-de-nemesis .item-icon:before {content: '\E31D';font-family: 'game-icons';}
.lentes-de-sol-de-marte .item-icon:before {content: '\E7F8';font-family: 'game-icons';}
.pocion-punteria-de-zeus .item-icon:before, .pocion-de-zeus .item-icon:before {content: '\EA67';font-family: 'game-icons';}
.perfume-de-cerridwen .item-icon:before {content: '\EA5F';font-family: 'game-icons';}

.carbon .item-icon:before {content: '\ED97';font-family: 'game-icons';}
.muneca-sin-cabeza .item-icon:before {content: '\ef9d';}
.carrito-sin-llantas .item-icon:before {content: '\ef9d';}
.cepillo-sucio .item-icon:before {content: '\ef9d';}
.pelota-desinflada .item-icon:before {content: '\ef9d';}
