@charset "UTF-8";
/*TABLILLAS STAFF*/
.tbase, .expavam-header {
margin: 0 auto;
max-width: 515px;
width:100%;
outline: 1px solid var(--borde-gris);
background: var(--fondo-oscuro);
}
.tbase-titulo2, .dfxxx {
font-family: var(--fuente-tit);
color: var(--color-acento);
font-size: 22px;
font-weight: 900;
letter-spacing: 1px;
line-height: 17px;
padding: 40px;
text-align: center;
text-transform:uppercase;
}
.tbase-text, .busquedatab, .bt1, .bt11, .mf, .rpg.grande, .rpg.pesta {
background: var(--fondo-base);
font-size: 14px;
font-weight: 400;
padding: 30px;
text-align: justify;
text-transform: none;
margin: 1px auto 0;
max-width: 515px;
width:100%;
outline: 1px solid var(--borde-gris);    
/*margin: 15px auto;
outline-offset: 14px;
max-width: 487px;
width:calc(100% - 28px);*/
}
.tbase-num {
font-family: var(--fuente-tit);
color: var(--color-acento);
font-size: 16px;
font-weight: 900;
letter-spacing: 1px;
text-transform: uppercase;
}
.tbase-textcol {
display: inline-block; 
max-width: 210px; 
vertical-align: top; 
margin-top: 10px;
}

.tbase-text a:link, .tbase-text a:active, .tbase-text a:visited, .tbase-text a:hover, .content .fa-angle-right {color: var(--color-acento);}
.post .content .tbase-text.text-lista i + strong {
color: var(--color-acento);
font-size: 13px;
font-weight: 900;
letter-spacing: .5px;
text-transform: uppercase;
}
.text-lista ul {margin: 0 0 0 3em;}

.tbase-destacado, .subfr, blockquote cite, .rpg-nombre, form[action="/login"] + script + .panel .h3 {
color: var(--color-acento);
font-size: 14px;
font-weight: 900;
font-family: var(--fuente-tit);
letter-spacing: 1px;
text-transform: uppercase;
}

.tbase-apartado {
text-transform: uppercase; 
font-size: 11px; 
letter-spacing: 0px; 
border-bottom: 1px solid #293a37; 
padding-bottom: 3px; 
margin-top: 15px; 
font-weight: bold;
}
.tbase-apartado2 {
background: var(--color-acento);
text-transform: uppercase; 
font-size: 9.5px; 
font-weight: bold; 
padding: 5px; 
width: auto;
}

.tbase-num2 {
background-color: var(--color-acento);
width: 25px; 
height: 25px; 
margin-top: 0px; 
margin-right: 5px; 
text-align: center; 
font-family: var(--fuente-tit); 
font-weight: 900; 
font-size: 9px; 
line-height: 25px; 
border-radius: 20px; 
-moz-border-radius: 20px; 
-webkit-border-radius: 20px; 
-o-border-radius: 20px; 
float: left;
}

.tbase.mini {max-width: 270px;}
.tbase-icon {color:var(--color-acento);font-size:25px;font-weight:900;float:left;margin: 6px 0 0 10px;}
.tbase-titulo {background:var(--fondo-oscuro);outline: 1px solid var(--borde-gris);font-family:var(--fuente-tit);font-size:15px;font-weight:900;padding:10px;text-transform:uppercase;text-align:center}
.avam-acep {background: var(--fondo-base); margin: 1px auto 0;width:100%;max-width: 270px; font-size: 13px; padding: 20px;line-height: 15px; outline:1px solid var(--borde-gris);}

.crono-leyenda {display: flex; justify-content: space-evenly; align-items: center;} 
.cr-leg {font-size: 10px; text-transform: uppercase; letter-spacing: 1px; font-weight: 900; display: flex;align-items: center;} 
.cr-leg i {font-size: 20px; padding: 0 4px 0 0;}
.cr-icon, .post-numero {border: 1px solid var(--color-acento); width: 35px; height: 35px; text-align: center; font-weight: 900; font-size: 16px; transform: rotate(45deg); display: flex; align-items: center; justify-content: center;}
.cr-icon div, .post-numero div {transform: rotate(-45deg);}
.cr-line {width: 80px; background-color: var(--color-acento); height: 1px; display: inline-block; vertical-align: top;}

/*ASCENDENCIAS*/
.tascen {
font-family: var(--fuente-tit); 
font-size: 20px; 
font-weight: 900; 
letter-spacing: 5px; 
text-align: center; 
text-transform: uppercase;
line-height: 20px;
}
.tascen i {
color: var(--color-acento);
font-size: 55px;
}
.ascen .cr-icon {
float: left;
margin: -18px 7px 0 0;
}
.ascen .toggle .click {padding: 0;}
.ascen-bonus {
text-align: center;
margin: -10px 0;
}
.asc-text {
border-left: 1px solid var(--color-acento);
width: calc(100% - 82px);
display: inline-block;
margin-top: -20px;
padding: 0 0 0 15px;
}
.asc-text .toggle:nth-child(2) + br {display: none;}
.click .fa-plus-circle {
position: relative;
top: -1px;
font-size: 9px;
}

@media screen and (max-width: 435px) {
    .ascen .cr-icon {margin: auto;float: none;}
    .cr-line {display: none;}
    .asc-text {margin: 10px 0 0;width: 100%;padding: 0;border: 0;}
}

/*EXPEDIENTE*/
.expavam-header {
background: var(--fondo-oscuro);
padding: 30px;
margin-bottom: -39px;
border-bottom: 4px solid var(--color-acento);
}

.img-expediente {
overflow: hidden;
width: 64px;
height: 64px;
margin: 20px auto 30px;
display: flex;
align-items: center;
justify-content: center;
transform: rotate(45deg);
outline: 1px solid var(--color-acento);
outline-offset: 5px;
}
.img-expediente img {transform: rotate(-45deg);}
.expavam-img {
outline: 1px solid var(--color-acento);
outline-offset: 5px;
background: var(--fondo-opacity);
width: 150px;
height: 150px;
margin: 0 auto 30px;
display: flex;
align-items: center;
justify-content: center;
}

.expavam-info {
display: flex;
flex-wrap: wrap;
align-content: space-around;
align-items: center;
justify-content: center;
height: 120px;
}
.expavam-name, .nf, .nf2 {
color: var(--color-acento);
text-align: center;
text-transform: uppercase;
font-size: 18px;
font-family: var(--fuente-tit);
font-weight: 900;
letter-spacing: 1px;
width: 100%;
}
.expavam-infodiv {
line-height: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.expavam-infoicon {
transform: rotate(45deg);
border: 1px solid var(--color-acento);
font-size: 10px;
height: 18px;
text-align: center;
width: 18px;
display: flex;
align-items: center;
justify-content: center;
background: var(--fondo-oscuro);
margin: 0 10px 0 5px;
}
.expavam-infoicon i {transform: rotate(-45deg);}
.expavam-infot {
font-family: calibri;
font-size: 10px;
letter-spacing: 1px;
text-transform: uppercase;
width: 116px;
}
.expavam-infod {
font-size: 11px;
letter-spacing: .5px;
font-weight: 900;
color: var(--color-acento);
}
.expavam-a, .exp12, .dfxx2, .dfxx, titulo1 {
text-align: left;
text-transform: uppercase;
font-size: 16px;
font-weight: 900;
font-family: var(--fuente-tit);
letter-spacing: 1px;
margin-bottom: -15px;
}
.expavam-stata {
font-size: 12px; 
letter-spacing: 1px; 
text-transform: uppercase;
}
.expavam-statb { 
font-weight: 900; 
color: var(--color-acento); 
}

/*TABLILLAS DE ROL*/
.b16, .bf1, .bf3, .b31, .cuadroinformativo {
background: var(--fondo-base);
outline: 1px solid var(--borde-gris);
/*border: 7px solid var(--fondo-claro);*/
width: 100%;
max-width: 430px;
margin: 0 auto;
padding: 30px;
font-size: 14px;
text-align: justify;
line-height: 14px; 
}
.b16 img, .bf1 img, .bf3 img, .b31 img { max-width: 340px;}

.imaglarga1, .imaf1avam {
outline: 1px solid var(--color-acento);
outline-offset: 5px;
margin: 0 auto 15px;
}
.imaf1avam {
height: 100px;
width: 100px;
}

.b26, .bf3-t, .nf2avam1 {
font-size: 20px;
font-family: var(--fuente-tit);
font-weight: 900;
letter-spacing: .5px;
text-align: center;
text-transform: uppercase;
padding: 5px 0;
line-height: 20px;
}

.df3a {
text-align:center;
font-size: 9px;
letter-spacing: 1px;
text-transform: uppercase;
margin: 0 auto 20px;
}

.nf2avam {text-align:center;font-size:15px;font-family:var(--fuente-tit);text-transform:uppercase;font-weight:900;letter-spacing:.5px}
.h1avam {text-align: justify;}

.df3b,.df2avam,.b21 {
font-size: 11px;
letter-spacing: 1px;
text-transform: uppercase;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: 5px 0;
}
.b21 {
background: var(--color-acento);
color: var(--color-texto-claro);
padding: 7px 8px 8px;
text-align: center;
}
.b32 {
border-bottom: 1px solid var(--color-acento);
font-size: 10px;
letter-spacing: 1px;
text-transform: uppercase;
padding: 7px;
text-align: center;
}
.df2avam i, .b21 i {margin: 0 5px;}
.bf1 .df2avam i {color: var(--color-acento);}
.df3b-icon {
font-size: 9px;
height: 15px;
width: 15px;
border: 1px solid var(--color-acento);
transform: rotate(45deg);
display: flex;
justify-content: center;
align-items: center;
margin: 0 8px;
}
.df3b-icon i {transform: rotate(-45deg);}
.tex46, .text33, .h2avam, .h3avam {
text-align: justify;
line-height: 15px;
font-size: 14px;
}

.aa { margin: auto; height: auto; width: 270px; } 
.ac { background: var(--fondo-base); font-family: var(--fuente-tit); font-size: 16px; font-weight: 900; height: 26px; line-height: 25px; overflow: hidden; padding: 10px; position: relative; text-align: center; text-transform: uppercase; border-bottom: 2px solid var(--color-acento);}
.ad { background: var(--fondo-base); margin: 0 auto auto auto; border-top: 1px solid #191919; width: 230px !important; height: auto; font-size: 10px!important; padding: 20px !important; line-height: 15px !important; text-transform: none; font-weight: normal; text-align: justify; }

/*TABLILLA ROL OFICIAL*/
.post-numero {margin: -5px auto 10px;color: var(--color-texto-claro);font-size: 14px;}
.bf3.res {margin: -18px auto 0; background: var(--fondo-base); border:0; width: 374px; }
.bf3.res strong {font-size: 12px; letter-spacing: 1px; font-weight: 900; font-family: var(--fuente-tit); color: var(--color-acento); text-transform: uppercase;}

/*FILTROS GENERAL*/
.tbase.tbase-grande {max-width: 750px;}
.tbase-text.cronologia, .tbase-text.catalogo {max-width: 750px; margin: 5px auto 0;background:var(--fondo-claro);} 
.filtro-botones, .filtro-contenido, .tienda-catalogo {display: flex; flex-wrap: wrap; justify-content: center;} 
.filtro-botones label {padding: 0;} 
.filtro-botones input {display: none;}
.filtro-botones div {font-size: 11px; font-weight: 700; letter-spacing: 1px; background: var(--fondo-oscuro); color: var(--color-texto-claro); border: 1px solid var(--color-acento); padding: 2px 8px; margin: 1px; text-transform: uppercase; cursor: pointer;} 
.filtro-botones input:checked + div  {background: var(--color-acento);} 
.panteon div {letter-spacing: 2px; padding: 5px 10px; margin: 0 3px;} 
.filtro-botones.categoria {margin: -20px auto -10px; width: 480px;} 

/*CRONOLOGÍA*/
.cr-evento {margin: 0 70px 0 80px; border-left: 1px solid var(--color-narracion); display: flex; flex-wrap: wrap; padding: 20px 0 15px; line-height: 15px;} 
.cr-evento .cr-icon {background: var(--fondo-oscuro); margin: 0; float: left; line-height: 13px; position: relative; top: 5px; left: -19px;}
.cr-icon span {display: block; font-size: 10px; font-weight: 400; color: var(--color-texto);}
.cr-text {width: calc(100% - 50px); border: 0; padding: 0 0 0 10px; display: block;} 
.cr-date {line-height: 16px; font-size: 11px; text-transform: uppercase; letter-spacing: 1px;}
.cr-links {text-transform: uppercase; font-size: 11px; font-family: calibri; letter-spacing: .5px; text-align: left; line-height: 10px; margin: 0;} 
.cr-res {max-height: 150px; overflow: auto; padding-right: 5px; margin-top: -5px; height: 100%;}
.multi-evento:not([style$="display: none;"]) + .multi-evento:not([style$="display: none;"]) {padding-top: 5px;}
.multi-evento:not([style$="display: none;"]) + .multi-evento:not([style$="display: none;"]) .cr-icon {visibility: hidden;}

.trama-global {--color-acento: #754c4c;} 
.trama-grupos {--color-acento: #4b6379;} 
.minitrama {--color-acento: #605265;} 
.tema-grupal {--color-acento: #75684c;}

/*TIENDA*/
.tbase-text.tienda {display: flex; flex-wrap: wrap; padding: 5px; max-width: 475px;}
.objeto {outline: 1px solid var(--borde-gris); margin: 4px; position: relative; padding: 12px; width: 220px; background: var(--fondo-base);}
.objeto .tbase-destacado {text-align: center; margin: 0 auto 5px;}
.objeto strong {font-weight: 900; font-size: 11px; color: var(--color-acento); text-transform: uppercase;} 
.objeto .df2avam {margin: 0 auto -12px;}
.tienda .desc {height: 135px; overflow: auto; padding-right: 2px; line-height: 17px;}

/*BESTIARIO*/
.bestiario {display: flex; flex-wrap: wrap; justify-content: space-between;}
.bestiario .col1, .col2 {display: block; margin: 8px 0; vertical-align: top; width: 210px; } .bestiario .col2 .info {margin-left: -215px;}
.bestiario .toggle {text-align: center; margin: 0 auto -10px;} 
.betiario .toggle .click {display: inline-block; letter-spacing: .5px; margin: 0; padding: 0;overflow: initial !important;} 
.bestiario .cr-icon {margin: 0 auto -5px; font-size: 20px;} .bestiario .cr-date {font-weight: normal;}
.bestiario .info {border-top: 1px solid var(--color-acento); padding: 10px 0 0; margin-bottom: 10px; width: 425px;}
.bestiario .info::before {content: '\f0d8'; font-family: 'Font Awesome 5 Free'; position: relative; top: -23px; width: 0; display: inline-block; color: var(--color-acento); font-size: 17px; font-weight: bold;} 
.bestiario .col1 .info::before {left: 100px;} 
.bestiario .col2 .info::before {left: 315px;}
.bestiario .celta {--color-acento: var(--color-celtas);}
.bestiario .otros {--color-acento: #636363;}
.bestiario .grupal {--color-acento: #75684c;}

/*TABLILLA DE STATS*/
.tab-batalla {font-size: 13px; margin: auto; outline: 1px solid var(--borde-gris);border: 7px solid var(--fondo-claro); line-height: 12px; max-width: 430px; width:100%; display: flex; flex-wrap: wrap; justify-content: space-between;} .tab-batalla div::-webkit-scrollbar {width: 4px;}
.tab-batalla .pj, .tab-batalla .op {background: var(--fondo-base); display: flex; flex-wrap: wrap; width: calc(50% - 2px); min-width: 190px; justify-content: space-between; align-items: flex-start; text-align: center; padding: 10px;} 
.rpg-pers {width: 100%; height: 35px; margin: 0 0 10px; display: flex; align-items: center; justify-content: space-between;} 
.rpg-icon {border: 1px solid var(--color-acento); width: 25px; height: 25px; margin: 0 0 0 5px; font-size: 15px; background: var(--fondo-oscuro); transform: rotate(45deg); float: left; display: flex; align-items: center; justify-content: center;} 
.op .rpg-icon {margin: 0 5px 0 0;} .rpg-icon div, .rpg-icon i {transform: rotate(-45deg); } .op .rpg-icon div, .op .rpg-icon i {transform: scaleX(-1) rotate(45deg);} 
.especialidad .pj .rpg-icon div:before {content: "";} .monstruo .op .rpg-icon div:before {content: "";}
.rpg-nombre {width: 145px; margin: 0 auto;letter-spacing: .5px;} 
.rpg-tipo {line-height: 14px; font-size: 11px; font-family: calibri; color: var(--color-texto); font-weight: normal;} 
.rpg-cont {display: flex; align-items: center; justify-content: space-between; width: 100%; margin: 0 0 6px;} 
.rpg-stats {display: flex; justify-content: space-around; align-items: center; width: 100%; background: var(--fondo-opacity); outline: 1px solid var(--borde-gris); padding: 5px;} 
.tab-batalla .caja {flex-basis: 50px;}
.rpg-cont .caja {background: var(--fondo-opacity); outline: 1px solid var(--borde-gris); padding: 5px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;height: 35px;}
.rpg-cont .pv {flex-grow: 1;} .rpg-cont > * + * {margin-left: 5px;}
.tab-batalla .st {color: var(--color-acento); font-weight: 900; text-transform: uppercase; font-size: 13px;}
.rpg-cont .st {margin-right: 5px;} .rpg-stats .st {display: block;}
.rpg-oper {width: 100%; max-height: 55px; overflow: auto; padding: 10px 0 3px; text-transform: uppercase; line-height: 13px; letter-spacing: .5px;} 
.rpg-oper strong, .tab-batalla .datos strong {color: var(--color-acento); text-transform: uppercase; font-weight: 900; font-size: 12px;} 
.tab-batalla .datos {padding: 10px; background: var(--fondo-base); overflow: auto; max-height: 110px; width: 104%; } 
.tab-batalla .op + .datos {margin: 7px -7px -7px; border-top: 1px solid var(--borde-gris);} 
.tab-batalla .op .datos {padding: 0 5px 0 0; height: 170px; max-height: initial; display: block; text-align: justify;}
.tab-batalla .datos::-webkit-scrollbar {width: 5px;} 
.tab-batalla .expavam-a {font-size: 14px; margin-bottom: -8px;} 

@media screen and (max-width: 435px) {
  .tab-batalla .pj, .tab-batalla .op {flex: 1;}
  .tab-batalla .pj {border: 1px solid var(--fondo-claro);border-width: 0 0 2px;}
}

/*BAÚL*/
.baul-stats .expavam-infot {width: 106px;} 

.rpg .img-expediente {margin: 25px auto 30px;}
.rpg .imaf1avam {background-image: url(http://via.placeholder.com/100x100); margin-top: 10px;}
.rpg .caja .ra {width: 35px; display: inline-block; color: var(--color-acento); font-weight: 900; padding: 7px 5px; font-size: 11px; text-align: center; border-right: 1px solid  var(--borde-gris); background: var(--fondo-oscuro);} 
.rpg .ra-broken-shield:before, .rpg .ra-capitol:before {margin-left: 1px;}
.rpg .caja2 {max-height: 270px;overflow: auto;padding-right: 4px;min-height:70px;margin-top:15px;}
.rpg .caja2 strong {color: var(--color-acento); font-weight: 900; text-transform: uppercase;}
.rpg .inv, .baul-stats .inv {padding: 0; width: auto; display: flex; flex-wrap: wrap;padding-right: 1px;} 
.inv .item {background: var(--fondo-opacity); border: 1px solid var(--borde-gris); font-size: 11px; overflow-y: auto; overflow-x: hidden; letter-spacing: .5px; line-height: 12px; margin: 1px; padding: 12px 10px; text-align: center; text-transform: uppercase; width: calc(50% - 24px); min-width: 100px; flex: 1 0 auto; } 
.inv .item strong {font-size: 13px; letter-spacing: 0; color: var(--color-acento); font-weight: 900;} 
.inv .item .usos {float: right; width: 0; margin: -12px 3px 0 0; cursor: default; font-size: 10px; line-height: 7px;}
.inv .usos + .usos {margin-right: -14px; }
.post .content .rpg a, .post .content .baul-stats .inv a {color: var(--color-acento);}

.rpg .bot { display: inline-block; cursor: pointer;} #caja2, #caja3, #caja4 {display: none;} 
.rpg.grande, .rpg.pesta {display:block;30px 29px;}
.rpg.grande .stat, .rpg.pesta .stat {color: var(--color-texto);}
.rpg.grande .subfr, .rpg.pesta .subfr {margin:6px 0}
.rpg.pesta {height: 415px;}
.rpg.pesta .bot {width: 19px; padding: 2px 0; background: var(--color-acento); margin: 2px; text-align: center; font-size: 11px; line-height: 15px; letter-spacing: .5px;color: var(--color-texto-claro);} 
.rpg.pesta .nf2avam, .rpg.grande .nf2avam {font-size: 16px; line-height: 16px; color: var(--color-acento);}
.rpg.pesta .caja, .rpg.grande .caja {width: calc(50% - 4px);margin:2px;}
.rpg .stat { display: block; margin-top: 1px; font-family: calibri;} .rpg.grande .vel + br {display: block;}

/*TABLILLAS BÚSQUEDA*/
.imagentbr {margin:20px auto; overflow:hidden;width:64px;height:64px;transform:rotate(45deg);outline:1px solid var(--color-acento);outline-offset:5px}
.imagentbr img{transform:rotate(-45deg);margin:-13px}
.cnombrem {text-align:center;margin: 0 0 15px;}
.nom {font-size:18px;letter-spacing:.5px;color:var(--color-acento);font-family:var(--fuente-tit);text-transform:uppercase;font-weight:900;margin: 0 0 -15px;}
.textonombre {font-size:10px;letter-spacing:1px;line-height:9px;text-align:center;text-transform:uppercase;}
.datosm {font-size: 12px; margin: auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;} .datosm .col {width:170px;}
.temas-icon {width: 25px; height: 21px; margin-right: 5px; text-align: center; font-weight: 900; background: var(--fondo-claro); color: var(--color-acento); float: left; line-height: 21px;} 
datom {margin:0 0 -1px;font-weight: 900;display:block;line-height:12px;color:var(--color-acento);}
rdatom {text-transform: uppercase; letter-spacing: 1px; font-size: 10px; display: block;}
.extrainfo {max-height:100px;margin-top:10px;padding: 0 5px 0 0;overflow: auto;}
.busquedatab .imagentbr {float: right; margin:20px;}
.tinformacion {height: 265px; padding: 0 10px; overflow: auto; float: right; width: 50%;}
.imgtb {width:160px;height:90px;outline:1px solid var(--color-acento);outline-offset:5px;margin:5px}
.bt1 .datosm {margin: 15px 0 0 -1px;height:auto;}
.bt11 {display: flex; flex-wrap: wrap;} .gcontainer {padding: 0 10px; width: 50%; min-width: 150px; flex: 1;}
.z-info {font-family:var(--fuente-tit); font-size: 14px; letter-spacing: 1px; font-weight: 900; text-transform: uppercase; text-align: center; color:var(--color-texto-claro)} 
.z-info-mini {text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: .5px; } 
.ch-text {padding: 10px 5px 0 0; overflow: auto;height: 65px;}

/*MISIONES*/
.misiones .fas {color: var(--color-acento); padding-right: 2px; width: 16px; text-align: center; } .misiones .fa-dollar-sign {font-size: 15px;} 
.misiones-info {vertical-align: middle;display: inline-block;font-size: 12px;font-weight: 900;line-height: 12px;text-transform: uppercase; max-width: 395px;border-left: 1px solid var(--color-acento);padding: 3px 0 3px 5px; margin: 0 0 4px;}
.misiones .click {border: 0; display: inline-block; margin: 0; padding: 0;}
.misiones .click i {border:0; margin-left: -4px;}

/*TABLILLA DE PNJ*/
.pnjs {margin: auto;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;}
.pnjs a {display: block;margin: 6px;height: 100px;}
.pnjbtn {transition: .5s; background: var(--fondo-base); width: 100px; height: 100px; display: flex; font-size: 11px; opacity: 0; text-align: center; letter-spacing: 1px; justify-content: center; align-items: center;}
.pnjs:hover .pnjbtn {opacity: 1;}
.pnjs .expavam-info {height: 112px; width: calc(100% - 112px);min-width: 255px;}
.pnjs .expavam-infodiv {margin: 0 0 -5px;} .pnjs .expavam-infoicon {margin-right: 8px;}
.pnjs .info {line-height: 15px; padding-right: 4px;margin: 10px 0 0;} 

/*Recuadro Sistema de Entrenamientos*/
.entcaja1 {min-width: 110px; width: 100%; margin: 1px; flex: 1; } 
.entxt1,.entxt3 {text-transform: uppercase; font-weight: 900; font-size: 14px; background-color: var(--fondo-oscuro); color: var(--color-acento); text-align: center; padding: 3px 0;} 
.entcaja2 {background-color: var(--fondo-claro); font-size: 12px; padding: 7px; line-height: 110%; min-height: 55px;}
.entxt3 {font-size: 12px; color: var(--color-texto-claro);}

/*Tablilla Sistema de Niveles*/
.tbase-tabla { overflow: auto; padding: 0 0 5px; }
.tabla-niveles {width: 408px; margin: auto;display: flex;flex-wrap: wrap;} 
.tblnvcelda-años {width: 41px; text-align: center; line-height: 12px; padding: 2px; text-transform: uppercase; letter-spacing: -.5px; font-weight: 900; font-size: 11px;} 
.tblnvcelda,.tblnvcelda2 {width: 41px; text-align: center; line-height: 12px; padding: 3px 2px; font-size: 12px;} 
.tblnvcelda2 {background-color: var(--color-acento);}

/*Tablilla forja*/
.forja-text {width: 700px; margin: auto; display: flex; flex-wrap: wrap; justify-content: center; } .forja-text table {border-spacing: 0;} 

.aro, .aro0, .arro, .arro0 {line-height: 10px; background:var(--color-acento); color: var(--color-texto-claro); letter-spacing: 1px; padding: 10px; margin: 1px; font-weight: 900; font-size:12px; text-align: center; display: inline-block; text-transform: uppercase; } 
.arro1,.arro11 { background: var(--fondo-base); width: 118px; padding: 12px; line-height: 40px; margin: 1px; text-align: center; display: inline-flex; align-items: center; justify-content: center; font-size: 13px; min-height: 40px; } 
.aro1, .aro2,.aroo1, .aroo2, .arro2 { background: var(--fondo-base); width: 118px; padding: 12px; line-height: 40px; margin: 1px; text-align: center; vertical-align: top; display: inline-flex; align-items: center; font-size: 13px; min-height: 40px; }

.arro1.pc, .arro11.pc, .arro2.pc {background-color: #754c4c;}
.arro1.pe, .arro11.pe, .arro2.pe {background-color: #605265;}
.arro1.pr, .arro11.pr, .arro2.pr {background-color: #4b6379;}
.arro1.vel, .arro11.vel, .arro2.vel {background-color: #75684c;}
.arro1.na, .arro11.na, .arro2.na {background-color: #151414;}

/*Tablilla de Logros*/
.achi {width: 175px; height: 100px; vertical-align: top; display: inline-block;}
.achi1 {width: 25px; height: 25px; background-color: var(--fondo-oscuro); vertical-align: top; display: inline-block}
.achi2 {width: 140px; height: 25px; background-color: var(--fondo-oscuro); vertical-align: top; display: inline-block; margin-left: 5px;}
.achi3 {width: 170px; height: 65px; background-color: var(--fondo-claro); margin-top: 5px; overflow: auto; padding: 10px;}
.achtext1 {font-size:12px;font-weight:800;text-transform:uppercase;text-align:center;color:var(--color-acento);margin:6px 0;letter-spacing: .5px;}
.achtext2 {font-size:12px;text-align:justify;}
.achtext3 {font-size:11px;font-weight:800;text-align:center;margin:6px;}

/*Colores generales de grupos*/
.postgroup-narracion, .profilegroup-narracion .perfil-u, .usergroup-narracion a.userlink {--color-acento: var(--color-narracion);}
.postgroup-romanos .post-datos, .postgroup-romanos .postprofile, .profilegroup-romanos .perfil-u, .usergroup-romanos a.userlink, .postgroup-romanos.miembro-caja {--color-acento: var(--color-romanos);}
.postgroup-griegos .post-datos, .postgroup-griegos .postprofile, .profilegroup-griegos .perfil-u, .usergroup-griegos a.userlink, .postgroup-griegos.miembro-caja {--color-acento: var(--color-griegos);}
.postgroup-celtas .post-datos, .postgroup-celtas .postprofile, .profilegroup-celtas .perfil-u, .usergroup-celtas a.userlink, .postgroup-celtas.miembro-caja {--color-acento: var(--color-celtas);}

/*Variaciones expedientes*/
.postgroup-romanos .expavam {--color-acento: var(--color-romanos);}
.postgroup-griegos .expavam {--color-acento: var(--color-griegos);}
.postgroup-celtas .expavam {--color-acento: var(--color-celtas);}

/*Variaciones tablilla PNJs*/
.pnjs.celta {--color-acento: var(--color-celtas);} 
.pnjs.romano {--color-acento: var(--color-romanos);}
.pnjs.griego {--color-acento: var(--color-griegos);}

/*Variaciones iconos tablilla Stats*/
.arco .pj .rpg-icon div:before {content: "\e981"; font-family: cappuccicons;}
.dagas .pj .rpg-icon div:before {content: "";}
.escudo .pj .rpg-icon div:before {content: "\efe6"; font-family: IcoFont;}
.espada .pj .rpg-icon div:before {content: "";}
.hacha .pj .rpg-icon div:before {content: "";}
.lanza .pj .rpg-icon div:before {content: "";}
.maza .pj .rpg-icon div:before {content: "";}
.intermedio .op .rpg-icon div:before {content: "";}
.avanzado .op .rpg-icon div:before {content: "";}
.epico .op .rpg-icon div:before {content: "";}

/**Variaciones tablilla Tramas*/
.postgroup-romanos .bf3, .postgroup-romanos .tab-batalla, .postgroup-romanos .rpg {--color-acento: var(--color-romanos);}
.postgroup-griegos .bf3, .postgroup-griegos .tab-batalla, .postgroup-griegos .rpg {--color-acento: var(--color-griegos);}
.postgroup-celtas .bf3, .postgroup-celtas .tab-batalla, .postgroup-celtas .rpg {--color-acento: var(--color-celtas);}


/*OLD - Tablilla de stats*/
.rpg {background: var(--fondo-base); font-size: 13px; margin: 10px auto; padding: 20px; text-align: justify; line-height: 12px; max-width: 415px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.rpg .pj, .rpg .op {display: flex; flex-wrap: wrap; width: 184px; justify-content: space-between; } .rpg .op + br, .rpg .pr + br, .rpg .vel + br {display: none;}
.rpg .nf2avam {width: 100%;font-size: 14px;white-space:nowrap;overflow:hidden;line-height:10px;text-overflow:ellipsis} .rpg .df2avam {width: 100%;}
.rpg .caja {height: auto; background: var(--fondo-claro); outline: 1px solid var(--borde-gris); letter-spacing: .5px; margin: 2px 0; text-transform: uppercase; text-align: center; display: inline-block; width: 49%;}
.rpg .caja.vida {width: 100%; display: block;}
.rpg .pj .caja .stat, .rpg .op .caja .stat {width: 26px; color: var(--color-acento); font-weight: 900; padding: 7px 4px; font-size: 10px; margin-top: 0px; border-right: 1px solid var(--borde-gris); background: var(--fondo-oscuro); float: left;}
.rpg .caja .puntos { display: inline-block; width: calc(100% - 36px); margin: auto; text-align: center; vertical-align: top; padding-top: 12px; }
.rpg .pj .puntos, .rpg .op .puntos {padding-top: 7px; letter-spacing: 1px; } 
.rpg c:before {content: '•'; width: 5px; color: var(--color-acento); display: inline-block; vertical-align: top; margin-top: -2px;font-size: 10px;} 
.rpg c {margin-right: -5px;} .rpg c + c {position: relative; top: 4px;} .rpg c + c + c {top: 0px; left: 4px;} .rpg c + c + c + c { top: 4px; left: 4px;} 
.rpg c + c + c + c + c { top: 0px; left: 8px;} .rpg c + c + c + c + c + c { top: 4px; left: 8px;}
.rpg .df222 {width: 100%; height: 35px; display: flex; align-items: center; justify-content: center; background: var(--fondo-opacity); overflow: auto; outline: 1px solid var(--borde-gris); margin: 2px 0; padding: 9px 6px; font-size: 11px; text-transform: uppercase; line-height: 13px; letter-spacing: .5px; }
.rpg .datos {margin: 7px 0 0; padding: 5px; background: var(--fondo-claro); outline: 1px solid var(--borde-gris); overflow: auto; max-height: 100px; width: 100%;}
.rpg .datos strong, .rpg .datos a {color: var(--color-acento); text-transform: uppercase; font-weight: 900; font-size: 11px; letter-spacing: .5px;}
.rpg .op .datos {padding:12px;height:155px;max-height:155px;overflow:auto;margin:0}
.rpg.mini { width: 265px;} .rpg.mini .pj { width: 100%; padding: 0px;}
.rpg .datos::-webkit-scrollbar, .rpg .df222::-webkit-scrollbar {width: 4px;}

/*OLD - Expedientes */
.bfh2,.bfhd2 {margin: 5px 0;} 
.imaf111, .imaf1 { margin: auto; width: 100px; height: 100px; } 
.imf { max-width: 400px; height: 150px; } 
.df, .df2, .df222 { text-align: center; text-transform: uppercase; font-size: 9px; font-family: calibri; letter-spacing: 1px; min-width: 100px; }
.mf2 { vertical-align: top; display: inline-flex !important; height: 100px; align-content: space-around; justify-content: center; flex-wrap: wrap; flex: 1; }

/*OLD - Variaciones tablilla stats Tramas*/
.arco.rpg .nf2avam { border-color: #6f2727;} .arco.rpg .caja .stat, .arco.rpg .datos strong, .arco.rpg c:before {color: #6f2727;}
.arco.rpg .df222::-webkit-scrollbar-thumb {background: #6f2727 !important;} 
.lanza.rpg .nf2avam { border-color: #736e8e;} .lanza.rpg .caja .stat, .lanza.rpg .datos strong, .lanza.rpg c:before {color: #736e8e;}
.lanza.rpg .df222::-webkit-scrollbar-thumb {background: #736e8e !important;} 
.maza.rpg .nf2avam { border-color: #707070;} .maza.rpg .caja .stat, .maza.rpg .datos strong, .maza.rpg c:before {color: #707070;}
.maza.rpg .df222::-webkit-scrollbar-thumb {background: #707070 !important;} 
.hacha.rpg .nf2avam { border-color: #707070;} .hacha.rpg .caja .stat, .hacha.rpg .datos strong, .maza.rpg c:before {color: #707070;}
.hacha.rpg .df222::-webkit-scrollbar-thumb {background: #707070 !important;} 
.espada.rpg .nf2avam, .escudo.rpg .nf2avam, .desarmado.rpg .nf2avam {border-color: #34694e;} 
.espada.rpg .caja .stat, .escudo.rpg .caja .stat, .desarmado.rpg .caja .stat, .espada.rpg .datos strong, .escudo.rpg .datos strong, .espada.rpg c:before, .escudo.rpg c:before {color: #34694e;}
.espada.rpg .df222::-webkit-scrollbar-thumb, .escudo.rpg .df222::-webkit-scrollbar-thumb, .desarmado.rpg .df222::-webkit-scrollbar-thumb {background: #34694e !important;} 
.daga.rpg .nf2avam, .dagas.rpg .nf2avam, .picaro.rpg .nf2avam { border-color: #466388;} 
.daga.rpg .caja .stat, .dagas.rpg .caja .stat, .picaro.rpg .caja .stat, .daga.rpg .datos strong, .dagas.rpg .datos strong, .picaro.rpg .datos strong {color: #466388;} 
.daga.rpg .df222::-webkit-scrollbar-thumb, .picaro.rpg .df222::-webkit-scrollbar-thumb, .dagas.rpg .df222::-webkit-scrollbar-thumb {background: #466388 !important;} 
.daga.rpg c:before, .dagas.rpg c:before, .picaro.rpg c:before {color: #466388;} 

.tgrom .df3a, .rpg.tgrom .nf2avam {border-color: var(--color-romanos);} 
.rpg.tgrom .caja .stat, .rpg.tgrom .datos strong, .rpg.tgrom .fa-angle-right, .rpg.tgrom c:before, .res.tgrom strong {color: var(--color-romanos)}
.rpg.tgrom .df222::-webkit-scrollbar-thumb, .rpg.tgrom .datos::-webkit-scrollbar-thumb { background: var(--color-romanos);} 
.tggri .df3a, .rpg.tggri .nf2avam {border-color: var(--color-griegos);} 
.rpg.tggri .caja .stat, .rpg.tggri .datos strong, .rpg.tggri .fa-angle-right, .rpg.tggri c:before, .res.tggri strong {color: var(--color-griegos)}
.rpg.tggri .df222::-webkit-scrollbar-thumb, .rpg.tggri .datos::-webkit-scrollbar-thumb { background: var(--color-griegos);} 
.tgcel .df3a, .rpg.tgcel .nf2avam {border-color: var(--color-celtas);} 
.rpg.tgcel .caja .stat, .rpg.tgcel .datos strong, .rpg.tgcel .fa-angle-right, .rpg.tgcel c:before, .res.tgcel strong {color: var(--color-celtas)}
.rpg.tgcel .df222::-webkit-scrollbar-thumb, .rpg.tgcel .datos::-webkit-scrollbar-thumb { background: var(--color-celtas);} 

.grupo-a .df3a, .rpg.grupo-a .nf2avam {border-color: #82545a;} 
.rpg.grupo-a .caja .stat, .rpg.grupo-a .datos strong, .rpg.grupo-a c:before, .res.grupo-a strong {color: #82545a}
.rpg.grupo-a .df222::-webkit-scrollbar-thumb, .rpg.grupo-a .datos::-webkit-scrollbar-thumb { background: #82545a;}
.grupo-b .df3a, .rpg.grupo-b .nf2avam {border-color: #587758;} 
.rpg.grupo-b .caja .stat, .rpg.grupo-b .datos strong, .rpg.grupo-b c:before, .res.grupo-b strong {color: #587758}
.rpg.grupo-b .df222::-webkit-scrollbar-thumb, .rpg.grupo-b .datos::-webkit-scrollbar-thumb { background: #587758;} 
.grupo-c .df3a, .rpg.grupo-c .nf2avam {border-color: #7c704a;} 
.rpg.grupo-c .caja .stat, .rpg.grupo-c .datos strong, .rpg.grupo-c c:before, .res.grupo-c strong {color: #7c704a}
.rpg.grupo-c .df222::-webkit-scrollbar-thumb, .rpg.grupo-c .datos::-webkit-scrollbar-thumb { background: #7c704a;}
.grupo-d .df3a, .rpg.grupo-d .nf2avam {border-color: #826354;} 
.rpg.grupo-d .caja .stat, .rpg.grupo-d .datos strong, .rpg.grupo-d c:before, .res.grupo-d strong {color: #826354}
.rpg.grupo-d .df222::-webkit-scrollbar-thumb, .rpg.grupo-d .datos::-webkit-scrollbar-thumb { background: #826354;}

/*Árbol de navidad 2020*/
.card-container.arb { height: 600px; position: relative; width: 500px; margin:auto;} 
.arb .card { height: 100%; position: absolute; transform-style: preserve-3d; transition: all 1s ease-in-out; width: 100%; z-index:1;} .arb:hover .card { transform: rotateY(180deg); } 
.arb .card .side { backface-visibility: hidden; height: 100%; position: absolute; width: 100%; } .arb .card .back { transform: rotateY(180deg); } 
.arb .card .side div {margin: auto; width: 205px; height: 205px; padding: 0 5px; position: relative; top: -325px; color: #f6f6f6; text-align: justify; font-size: 12px; line-height: 15px; overflow: auto;} 
.arb .card .side div::-webkit-scrollbar {width: 2px;} .arb .card .side div img {width:100px;} 
.arb .nota { background: white; width: 120px; padding: 20px 0; text-align: center; color: black; transition: top 1s ease-in-out 0.5s, left 1s ease-in-out, transform 1s ease-in-out; position: relative; left: 190px; top: 250px;} 
.arb:hover .nota { top: 80px; left: 330px; transform: rotate(8deg); transition: top 1s ease-in-out, left 1s ease-in-out 0.5s, transform 1s ease-in-out; }

/*Regalo de navidad 2020*/
.card-container.reg {height: 255px; position: relative; width: 200px; margin:auto;} 
.reg .card { height: 100%; position: absolute; transform-style: preserve-3d; transition: all 1s ease-in-out; width: 100%; z-index:1;} .reg:hover .card { transform: rotateY(180deg); } 
.reg .card img {width: 200px;} 
.reg .card .side { backface-visibility: hidden; height: 100%; position: absolute; width: 100%; } .reg .card .back { transform: rotateY(180deg); } 
.reg .card .side div {margin: auto; width: 150px; height: 150px; padding: 10px; position: relative; top: -160px; color: #f6f6f6; text-align: center; font-size: 12px; line-height: 15px;} 
.reg .card .side div img {width: 50px;} 
.reg .nota {background: white; width: 120px; padding: 20px 0; text-align: center; color: black; transition: top 1s ease-in-out 0.5s, left 1s ease-in-out, transform 1s ease-in-out; position: relative; left: 40px; top: 100px;} 
.reg:hover .nota { top: -10px; left: 220px; transform: rotate(8deg); transition: top 1s ease-in-out, left 1s ease-in-out 0.5s, transform 1s ease-in-out; }

/**** FUENTES ****/ 
@font-face { font-family: 'The Bold'; src: url('https://avam-rpg.github.io/Avam-codes/thebold.ttf'); }
@font-face { font-family: 'Freeroad'; src: url('https://AVAM-RPG.github.io/Avam-codes/freeroad%20font/Freeroad%20Regular.ttf'); }
@font-face { font-family: 'Freeroad'; src: url('https://AVAM-RPG.github.io/Avam-codes/freeroad%20font/Freeroad%20Bold.ttf'); font-weight: bold;}
@font-face { font-family: 'Freeroad'; src: url('https://AVAM-RPG.github.io/Avam-codes/freeroad%20font/Freeroad%20Italic.ttf'); font-style: italic;}
@font-face { font-family: 'Freeroad'; src: url('https://AVAM-RPG.github.io/Avam-codes/freeroad%20font/Freeroad%20Bold%20Italic.ttf'); font-weight: bold; font-style: italic;}
@font-face { font-family: 'Freeroad'; src: url('https://AVAM-RPG.github.io/Avam-codes/freeroad%20font/Freeroad%20Light.ttf'); font-weight: lighter;}

/*EDITOR DE MENSAJES*/
#smiley-box, .smile-status-box {
float: right;
margin-top: 15px;
width: 22%;
}
#smiley-box iframe, .smile-status-box iframe {
height: 280px;
overflow: auto;
width: 100%;
}
#message-box, #textarea_content {
width: 100% !important;
max-width: 695px;
}
.sceditor-container, .sceditor-container .sceditor-toolbar  {
border: 0!important;
border-radius: 0!important;
background: var(--fondo-base)!important;
}
.respuesta-rapida .sceditor-container,.respuesta-rapida .sceditor-container .sceditor-toolbar  {
background: var(--fondo-claro)!important;
}
.sceditor-container .sceditor-toolbar {
padding: 10px;
}
#textarea_content .sceditor-container iframe, #textarea_content .sceditor-container textarea {
background: var(--fondo-oscuro);
font-family: calibri;
font-size: 14px;
padding: 10px;
width: 100%!important;
color: white !important;
margin: 0!important;
min-height: 250px;
}
#textarea_content .sceditor-group {
background: var(--fondo-oscuro);
border: 1px solid var(--color-acento);
border-radius:0;
}
.sceditor-container .sceditor-button {
background: none;
display: flex;
align-items: center;
justify-content: center;
color: var(--color-texto-claro);
text-indent:0;
margin:3px;
}
#textarea_content .sceditor-button.active, #textarea_content .sceditor-button:active, #textarea_content .sceditor-button:hover {
background: none;
box-shadow: none;
color: var(--color-acento) !important;
}
.sceditor-container .sceditor-button.disabled {color: #AAA;}

/*CSS base de los toggle*/
.toggle .click { 
text-transform: uppercase; 
font-size: 12px; 
margin: 0 0 -15px; 
font-weight: bold;
cursor: pointer;
}
.toggle .info, .toggle .info-asc, .bestiario .info {display: none;}
.toggle .info-asc {line-height: 15px;}

/*CSS de los modals del tablon*/
.modal-container>.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.modal-container>.modal.show {
  display: flex;
  z-index: 5;
}
.modal-container>.modal>.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000bf;
  z-index: 10;
  display: none;
}
.modal-container>.modal.show>.modal-backdrop {
  display: block;
}
.modal-container>.modal>.modal-content {
  position: fixed;
  margin: auto;
  z-index: 100;
  transform: scale(0);
  transition: transform .2s ease-out;
}
.modal-container>.modal.show>.modal-content {
  transform: scale(1);
  transition: transform .2s ease-out;
}

/* Selector de color avanzado */
.sceditor-dropdown.colorpicker {margin-top: 1.5px !important;}
.colorpicker {
   width: 356px;
   height: 176px;
   overflow: hidden;
   position: absolute;
   background-image: url(https://i.imgur.com/h04R6fU.png) !important;
   font-family: Arial, Helvetica, sans-serif;
   display: none;
   padding: 0 !important;    
}
.colorpicker.dark{
 background-image: url(https://i.imgur.com/h04R6fU.png) !important;
}
.colorpicker_color {
   width: 150px;
   height: 150px;
   left: 14px;
   top: 13px;
   position: absolute;
   background: #f00;
   overflow: hidden;
   cursor: crosshair;
}
.colorpicker_color div {
   position: absolute;
   top: 0;
   left: 0;
   width: 150px;
   height: 150px;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp10.png);
}
.colorpicker_color div div {
   position: absolute;
   top: 0;
   left: 0;
   width: 11px;
   height: 11px;
   overflow: hidden;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp10.gif);
   margin: -5px 0 0 -5px;
}
.colorpicker_hue {
   position: absolute;
   top: 13px;
   left: 171px;
   width: 35px;
   height: 150px;
   cursor: n-resize;
}
.colorpicker_hue div {
   position: absolute;
   width: 35px;
   height: 9px;
   overflow: hidden;
   background: url(http://i83.servimg.com/u/f83/17/45/19/77/colorp11.gif) left top;
   margin: -4px 0 0 0;
   left: 0px;
}
.colorpicker_new_color {
   position: absolute;
   width: 60px;
   height: 30px;
   left: 213px;
   top: 13px;
   background: #f00;
}
.colorpicker_current_color {
   position: absolute;
   width: 60px;
   height: 30px;
   left: 283px;
   top: 13px;
   background: #f00;
}
.colorpicker_current_color:after {
    content: 'Último usado';
    position: absolute;
    top: 35px;
    font-size: 9px;
    color: var(--color-texto-claro);
    font-family: calibri;
    text-transform: uppercase;
    letter-spacing: .5px;
    width: 65px;
}
div.sceditor-dropdown.colorpicker input {
   text-align: center;
   margin: 0 0 0 4px;
   padding: 2px;
}
.colorpicker_field, .colorpicker_hex {
   height: 22px;
   width: 62px;
   background-position: top;
   position: absolute;
   color: var(--color-texto-claro);
   font-weight: 900;
   display: flex;
   align-items: center;
}
.colorpicker_hex {
   left: 212px;
   top: 142px;
}
.colorpicker_rgb_r:before {content: 'R';}
.colorpicker_rgb_g:before {content: 'G';}
.colorpicker_rgb_b:before {content: 'B';}
.colorpicker_hex:before {content: '#';}
.colorpicker_rgb_r {
   top: 52px;
   left: 212px;
}
.colorpicker_rgb_g {
   top: 82px;
   left: 212px;
}
.colorpicker_rgb_b {
   top: 112px;
   left: 212px;
}

.colorpicker_field span {
   position: absolute;
   width: 4px;
   height: 18px;
   top: 2px;
   right: 0;
   cursor: n-resize;
   background: var(--color-acento);
   display: none;
}
.colorpicker_hsb_h, .colorpicker_hsb_s, .colorpicker_hsb_b {
 display: none;
}
div.sceditor-dropdown div.colorpicker_submit {
 position: absolute;
 cursor: pointer;
 right: 10px;
 top: 140px;
 text-transform: uppercase;
 font-family: calibri;
 font-size: 10px;
 font-weight: 900;
 letter-spacing: 1px;
 background: var(--fondo-oscuro);
 border: 1px solid var(--color-acento);
 padding: 4px 10px;
 height: auto;
 line-height: 14px;
 color: var(--color-texto-claro);
}
.colorpicker_submit:before {
    content: 'Usar';
}
.colorpicker_focus {
   background-position: center;
}
.colorpicker_hex.colorpicker_focus {
   background-position: bottom;
}
.colorpicker_slider {
   background-position: bottom;
}
.colorpicker { z-index: 3; }

/*Modificaciones de los BBCodes*/
.sceditor-dropdown {border: 0px!important;}
div.sceditor-dropdown div input {border: 0px;}
div.sceditor-dropdown {
margin-top: 27.5px !important;
margin-left: -2px !important;
}
div.sceditor-dropdown, div.sceditor-dropdown div .button, div.sceditor-dropdown div .button:hover {
background: var(--fondo-oscuro) !important;
border: 1px solid var(--color-acento) !important;
border-radius: 0 !important;
}
a.sceditor-color-option {border-color: var(--fondo-oscuro);}
div.sceditor-dropdown div a:hover, .sceditor-dropdown div .sceditor-header-option.post-content:hover, div.sceditor-dropdown .sceditor-mention-user:hover {
color: var(--color-acento) !important; 
background: none !important;
}
div.sceditor-dropdown div a, div.sceditor-dropdown div label, .sceditor-dropdown div .sceditor-header-option.post-content, div.sceditor-dropdown .sceditor-mention-user {
color: var(--color-texto-claro) !important;
font-family: var(--fuente-tit);
text-transform: uppercase;
font-weight: 900;
font-size: 11px;
letter-spacing: .5px;
}
div.sceditor-dropdown div input {
border: 0px;
text-transform: none; 
background: var(--fondo-claro);}
div.sceditor-dropdown div .button {
color: var(--color-texto-claro);
border-color: var(--color-acento);
border-radius: 0;
text-transform: uppercase;
font-family: calibri;
font-size: 10px;
font-weight: 00;
letter-spacing: 1px;
}
div.sceditor-dropdown textarea {
border-top: 0px!important;
border: 0px!important;}
div.sceditor-dropdown.sceditor-color-picker {padding: 6px;}
.sceditor-dropdown div .sceditor-header-option.post-content, div.sceditor-dropdown .sceditor-mention-user, div.sceditor-dropdown .sceditor-mention-user:hover {
border: none;
background: none !important;
}
.sceditor-mention-user img {
background: none;
border: none;
border-radius: 0;
display: none;
}

/*NOTIFICACIONES*/
/*#fa_toolbar {top: 20px !important; width: 100%;}*/
#fa_left, #fa_search, #fa_share {display: none;}
#fa_right {float: right;}
#fa_right #notif_list {
position: absolute;
display: none;
list-style: none;
padding: 8px;
top: 62px;
font-size: 12px;
line-height: 12px;
text-transform: none;
letter-spacing: 0;
font-weight: normal;
background: var(--fondo-oscuro);
width: 268px;
z-index: 2;
margin-left: -10px;
}
#fa_right.notification #notif_list {display: block;}
#fa_notifications {cursor: pointer;}
#notif_list .content {
display: flex;
justify-content: space-between;
align-items: center;
padding: 2px 0;
}
#notif_list .content:before {
font-family: 'Font Awesome 5 Free';
color: var(--color-acento);
font-weight: 900;
content: '\f111';
font-size: 10px;
}
#notif_list .unread .content:before {content: '\f06a';}
.contentText {
width: 220px;
line-height: 10px;
}
#fa_right .delete:before {
font-family: 'Font Awesome 5 Free';
content: '\f00d';
color: var(--color-acento);
font-weight: 900;
}
.see_all {
text-align: right;
margin-top: 5px;
}
a.rightHeaderLink[href="https://forokoa.activo.mx/login"], a.rightHeaderLink[href="https://forokoa.activo.mx/register"] {display: none;}
